 @font-face
 {
    font-family: "Gilroy";
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/Gilroy-Medium.woff2") format("woff");
 }
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    font-family: Gilroy;
 }

 body {
     background: #fff;
 }

    header {
        width: 100%;
    }

 /* Navbar Container */
 .navbar {
     background: #ff5200;
     color: white;
     padding: 30px 120px 18px 120px;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 nav {
     width: 100%;
     display: flex;
     justify-content: space-between;
 }

 /* Left Logo Section */
 .nav-left {
     display: flex;
     align-items: center;
     gap: 10px;
 }

 .nav-left img {
     width: 150px;
     height: 50px;
 }

 /* Center Menu Items */
 .nav-menu {
     display: flex;
     gap: 10px;
 }

 .nav-menu a {
     text-decoration: none;
     font-size: 18px;
     color: white;
     font-weight: 600;
 }

 /* Buttons Right Side */
 .nav-right {
     display: flex;
     align-items: center;
     gap: 20px;
 }

 .btn-outline {
     background: transparent;
     height: 54px;
     padding: 12px 16px;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     gap: 4px;
     border-radius: 12px;
     border: 1px solid #fff;
     color: #fff;
     cursor: pointer;
     font-family: Gilroy;
     font-size: 16px;
     font-style: normal;
     font-weight: 600;
     line-height: 21px;
 }

 .btn-outline:hover {
     background: rgba(255, 255, 255, 0.2);
 }

 .btn {
     background: #000;
     border-radius: 16px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     height: 54px;
     padding: 12px 16px;
     color: #fff;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -ms-flex-item-align: stretch;
     align-self: stretch;
     margin-top: 0;
     margin-left: 10px;
 }

 .sign-in {
     text-decoration: none;
     cursor: pointer;
     display: inline-block;
     text-align: center;
     border: none;
     line-height: 50px;
     font-size: 14px;
     font-weight: 600;
     height: 50px;
     padding: 0 2rem;
     color: #000;
     letter-spacing: 0;
     width: auto;
     color: #fff !important;
     font-family: Gilroy;
     font-size: 16px;
     font-weight: 800;
     line-height: 22px;
     letter-spacing: -.4px;
     padding: .2rem 2rem;
 }

 .sign-in:hover {
     opacity: 0.9;
     color: #fff;
 }

 .banner-section {
     background: #ff5200;
     padding: 80px 40px;
     position: relative;
     overflow: hidden;
     color: white;
     text-align: center;
 }

 .banner-left-img,
 .banner-right-img {
     position: absolute;
     width: 260px;
     top: 30px;
     opacity: 0.9;
 }

 .banner-left-img {
     left: 0px;
 }

 .banner-right-img {
     right: 0px;
 }

 .banner-content h1 {
     font-size: 38px;
     font-weight: 700;
     margin-bottom: 30px;
     line-height: 1.3;
 }

 .search-area {
     display: flex;
     justify-content: center;
     gap: 20px;
     margin-bottom: 50px;
     flex-wrap: wrap;
 }

 .location-box,
 .search-box {
     background: white;
     padding: 12px 15px;
     border-radius: 15px;
     display: flex;
     align-items: center;
     width: 320px;
     box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
 }

 .location-box input,
 .search-box input {
     border: none;
     outline: none;
     width: 100%;
     font-size: 15px;
 }

 .banner-cards {
     display: flex;
     justify-content: center;
     gap: 25px;
     flex-wrap: wrap;
     margin-top: 30px;
 }

 .banner-cards img {
     color: #333;
     width: 260px;
     border-radius: 20px;
     text-align: left;
     position: relative;
     overflow: hidden;
     transition: 0.3s;
 }

 .banner-card:hover {
     transform: translateY(-8px);
 }

 .banner-card h2 {
     font-size: 19px;
     font-weight: 700;
 }

 .banner-card p {
     color: #777;
     font-size: 14px;
     margin-bottom: 10px;
 }

 .offer {
     display: inline-block;
     background: #ffe5d0;
     color: #ff5200;
     padding: 4px 14px;
     border-radius: 20px;
     font-size: 12px;
     font-weight: 600;
     margin-bottom: 15px;
 }

 .hero-card img {
     width: 140px;
     margin: 10px auto;
     display: block;
 }

 .go-btn {
     background: #ff5200;
     color: white;
     border: none;
     padding: 10px 16px;
     border-radius: 50%;
     font-size: 16px;
     position: absolute;
     bottom: 20px;
     right: 20px;
     cursor: pointer;
     transition: 0.3s;
 }

 .go-btn:hover {
     background: #d66800;
 }

 /* food section  */
 .food-options-section {
     padding: 60px 40px;
     position: relative;
 }

 .food-options-section h2 {
     text-align: left;
     font-size: 28px;
     margin-bottom: 30px;
     font-weight: 700;
 }

 /* Slider Container */
 .food-slider {
     display: flex;
     overflow-x: auto;
     gap: 45px;
     scroll-behavior: smooth;
     padding-bottom: 10px;
 }

 .food-slider::-webkit-scrollbar {
     display: none;
 }

 /* Each Item */
 .food-item {
     text-align: center;
     min-width: 130px;
     cursor: pointer;
 }

 .food-item img {
     width: 120px;
     height: 120px;
     object-fit: cover;
     transition: transform 0.3s;
 }

 .food-item p {
     margin-top: 12px;
     font-size: 18px;
     font-weight: 600;
 }

 .food-item img:hover {
     transform: scale(1.1);
 }

 /* Arrow Buttons */
 .scroll-btn {
     position: absolute;
     top: 55%;
     transform: translateY(-50%);
     background: white;
     border: none;
     border-radius: 50%;
     padding: 12px 16px;
     font-size: 22px;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
     cursor: pointer;
     z-index: 100;
 }

 .scroll-btn:hover {
     background: #eee;
 }

 .left-btn {
     left: 0px;
 }

 .right-btn {
     right: 0px;
 }


 /* Groceries  section  */

 .instamart-section {
     padding: 50px;
     position: relative;
 }

 .instamart-section h2 {
     font-size: 28px;
     font-weight: 700;
     margin-bottom: 25px;
 }

 /* Arrow Buttons */
 .insta-arrows {
     position: absolute;
     top: 50px;
     right: 50px;
     display: flex;
     gap: 15px;
 }

 .insta-btn {
     background: #eee;
     border: none;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     font-size: 20px;
     cursor: pointer;
 }

 /* Slider */
 .instamart-slider {
     display: flex;
     gap: 40px;
     overflow-x: auto;
     scroll-behavior: smooth;
     padding-top: 20px;
 }

 .instamart-slider::-webkit-scrollbar {
     display: none;
 }

 .insta-item {
     min-width: 170px;
     text-align: center;
 }

 .insta-img {
     width: 170px;
     height: 170px;
     background: #f5f5f5;
     border-radius: 16px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .insta-img img {
     width: 90%;
     height: auto;
 }

 .insta-item p {
     margin-top: 12px;
     font-size: 18px;
     font-weight: 600;
 }

 /* dineout Section */
 .dineout-section {
     padding: 40px 50px;
     position: relative;
 }

 .dineout-section h2 {
     font-size: 30px;
     font-weight: 700;
     margin-bottom: 25px;
 }

 /* Arrow buttons */
 .dine-arrows {
     position: absolute;
     top: 30px;
     right: 50px;
     display: flex;
     gap: 15px;
 }

 .dine-btn {
     width: 42px;
     height: 42px;
     border-radius: 50%;
     border: none;
     background: #eee;
     font-size: 20px;
     cursor: pointer;
 }

 /* Slider */
 .dine-slider {
     display: flex;
     gap: 30px;
     overflow-x: auto;
     scroll-behavior: smooth;
 }

 .dine-slider::-webkit-scrollbar {
     display: none;
 }

 /* Card */
 .dine-card {
     min-width: 380px;
     background: #fff;
     border-radius: 18px;
     overflow: hidden;
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
 }

 .dine-img {
     width: 100%;
     height: 220px;
     object-fit: cover;
 }

 .dine-info {
     padding: 18px;
 }

 .dine-title {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .dine-title h3 {
     font-size: 20px;
     font-weight: 700;
 }

 .rating {
     background: #1faa59;
     color: #fff;
     padding: 4px 10px;
     border-radius: 20px;
     font-size: 14px;
 }

 .cuisine {
     margin: 8px 0;
     color: #666;
 }

 .details-row {
     display: flex;
     justify-content: space-between;
     color: #444;
     font-size: 15px;
     margin-bottom: 4px;
 }

 .address {
     color: #666;
     margin-bottom: 10px;
 }

 /* Tag */
 .tag span {
     background: #ececec;
     padding: 6px 12px;
     border-radius: 20px;
     font-size: 14px;
 }

 /* Offers */
 .offer-primary {
     margin-top: 15px;
     background: #d4f5e5;
     padding: 12px;
     border-radius: 10px;
     font-weight: 600;
     display: flex;
     justify-content: space-between;
 }

 .offer-icon {
     margin-right: 6px;
 }

 .more {
     color: #00704a;
 }

 .offer-light {
     background: #d7f5ee;
     margin-top: 12px;
     padding: 12px;
     border-radius: 10px;
     color: #0b7a6e;
     font-weight: 500;
 }

 /* City Section */
 .cities-section h2 {
     font-size: 32px;
     margin-top: 20px;
     margin-bottom: 30px;
     font-weight: 600;
 }

 .cities-grid {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 20px;
     max-width: 1200px;
 }

 .city-card {
     border: 1px solid #e5e5e5;
     padding: 18px;
     text-align: center;
     border-radius: 14px;
     font-size: 18px;
     background: white;
     cursor: pointer;
     transition: 0.2s ease;
 }

 .city-card:hover {
     background: #fafafa;
     transform: translateY(-2px);
 }

 .hidden {
     display: none;
 }

 .show-more {
     margin-top: 25px;
     font-size: 18px;
     font-weight: 500;
     color: #ff5200;
     cursor: pointer;
     display: inline-flex;
     align-items: center;
     gap: 6px;
 }

 .show-more span {
     font-size: 18px;
 }

 /* Footer */
 .footer {
     background-color: rgb(240, 240, 245);
     padding: 60px 80px;
     margin-top: 40px;
 }

 .footer-top {
     display: grid;
     grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
     gap: 40px;
 }

 .footer-logo img {
     width: 120px;
     margin-bottom: 10px;
 }

 .footer-logo p {
     color: #666;
     font-size: 15px;
 }

 .footer-column h4 {
     font-size: 18px;
     font-weight: 600;
     margin-bottom: 15px;
 }

 .footer-column a {
     display: block;
     text-decoration: none;
     color: #333;
     margin-bottom: 10px;
     font-size: 16px;
     transition: 0.2s;
 }

 .footer-column a:hover {
     color: #ff5200;
 }

 .city-dropdown {
     margin-top: 15px;
     padding: 8px 12px;
     border-radius: 8px;
     border: 1px solid #ccc;
     font-size: 16px;
 }

 .social-icons i {
     font-size: 20px;
     margin-right: 12px;
     cursor: pointer;
     color: #333;
     transition: 0.2s;
 }

 .social-icons i:hover {
     color: #ff5200;
 }

 hr {
     margin: 40px 0;
     border: 0;
     border-top: 1px solid #000;
 }

 .footer-bottom {
     text-align: center;
 }

 .footer-bottom h3 {
     font-size: 24px;
     margin-bottom: 25px;
     font-weight: 600;
 }

 .app-buttons {
     display: flex;
     justify-content: center;
     gap: 30px;
 }

 .app-img {
     width: 200px;
     cursor: pointer;
     transition: 0.3s;
 }

 .app-img:hover {
     transform: scale(1.05);
 }

 /* Responsive */
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media (max-width: 1200px) {
     .navbar {
         padding: 30px 100px 18px 100px;
         display: flex;
         justify-content: space-between;
     }

     nav {
         width: 100%;
         display: flex;
         justify-content: space-between;
     }

     .nav-menu {
         gap: 10px;
     }

     .nav-menu a {
         font-size: 16px;
     }

     .btn-outline {
         background: transparent;
         height: 50px;
         padding: 10px 16px;
         font-size: 12px;
     }

     .sign-in {
         font-size: 14px;
         height: 50px;
         line-height: 22px;
         letter-spacing: -.4px;
         padding: .1rem 1rem;
     }

     .search-area {
         gap: 20px;
         flex-wrap: nowrap;
     }

     .location-box,
     .search-box {
         width: 200px;
     }
 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media (min-width: 992px) {
 
    .navbar {
         padding: 30px 50px 18px 50px;
         display: flex;
         align-items: center;
         justify-content: space-between;
     }

     nav {
         width: 100%;
         display: flex;
         justify-content: space-between;
     }

     .nav-left img {
         width: 150px;
         height: 40px;
     }

     .nav-menu {
         gap: 10px;
     }

     .nav-menu a {
         font-size: 16px;
     }

     .btn-outline {
         background: transparent;
         height: 54px;
         font-size: 16px;
         display: flex;
        padding: 12px 16px;
     }

     .sign-in {
         font-size: 16px;
         height: 56px;
         display: flex;
         flex-wrap: nowrap;
         line-height: 22px;
         letter-spacing: -.4px;
         padding: 12px 16px;;
     }

     .banner-left-img,
     .banner-right-img {
         width: 130px;
     }

     .banner-content h1 {
         font-size: 48px;
         font-weight: 600;
     }

     .location-box,
     .search-box {

         width: 250px;
     }
 } 

/* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
      .navbar {
         padding: 30px 50px 18px 50px;
         display: flex;
         align-items: center;
         justify-content: space-between;
     }

     nav {
         width: 100%;
         display: flex;
         justify-content: space-between;
     }

     .nav-left img {
         width: 150px;
         height: 40px;
     }

     .nav-menu {
         gap: 10px;
     }

     .nav-menu a {
         font-size: 12px;
         height: 21px;
     }

     .btn-outline {
         background: transparent;
         height: 48px;
         font-size: 13px;
         display: flex;
        padding: 12px 16px;
     }

     .sign-in {
        font-size: 14px;
        height: 43px;
        display: flex;
        flex-wrap: nowrap;
        line-height: 10px;
        letter-spacing: 0.6px;
        padding: 9px 12px;
    
     }

     .banner-left-img,
     .banner-right-img {
         width: 150px;
     }

     .banner-content h1 {
         font-size: 38px;
         font-weight: 600;
     }

     .location-box,
     .search-box {
         width: 270px;
     }
      .location-box input,
 .search-box input {
     border: none;
     outline: none;
     width: 100%;
     font-size: 14px;
 }
  .banner-cards {
     display: flex;
     justify-content: center;
     gap: 25px;
     flex-wrap: wrap;
     margin-top: 30px;
 }

 .banner-cards img {
     color: #333;
     width: 200px;
     border-radius: 20px;
     text-align: left;
     position: relative;
     overflow: hidden;
     transition: 0.3s;
 }

 .banner-card:hover {
     transform: translateY(-8px);
 }

 .banner-card h2 {
     font-size: 19px;
     font-weight: 700;
 }

 .banner-card p {
     color: #777;
     font-size: 14px;
     margin-bottom: 10px;
 }  
 }

 @media only screen and (max-width: 600px) {
    .navbar 
    {
         background: #ff5200;
         color: white;
         padding: 30px 120px 18px 120px;
         display: flex;
         align-items: center;
         justify-content: space-between;
     }
 }

  